@{
    Layout = "_LayoutLogin";
}
@using EightElements.Services
@inject ITextService PageText

<div class="login-box" style="width:470px;">
    <h3 class="title-chg">@PageText.GetHtml("Forgetpassword_title_txt_forget_password","en")</h3>
    <label class="">@PageText.GetHtml("Forgetpassword_txt_enter_your_email", "en")</label>
    <form method="post" action="" id="change-password-form">
        <div class="form-group row">
            <div class="col-sm-12 input-group">
                <input type="email" class="form-control text-center" id="email" placeholder="@PageText.GetHtml("Forgetpassword_txt_enter_your_email_placeholder","en")" required autocomplete="off" />
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn-orange" type="button" onclick="ResetPassword()"> &nbsp; @PageText.GetHtml("Forgetpassword_btn_submit","en")</button>
        </div>
    </form>
</div>

@section Scripts{

    <script>
        function ResetPassword() {
            Swal.showLoading();
            var email = $("#email").val();
            var data = {
                email: email
            };
            var url = '/Account/ResetPassword';
            $.ajax({
                type: 'POST',
                url: url,
                data: data,
                success: function (response) {
                    Swal.close();
                    if (response == null) {
                        response = "@PageText.GetHtml("Forgetpassword_popup_failed", "en")"
                    };
                    if (response == "ok") {
                        Swal.fire({
                            title: 'Success',
                            text: "@PageText.GetHtml("Forgetpassword_popup_txt_check_your_email", "en")",
                            icon: 'success'
                        }).then(() => {
                            location.href = "/Login";
                        });
                    } else {
                        Swal.fire({
                            title: 'Error',
                            text: response,
                            icon: 'error'
                        });
                    }
                },
                error: function () {
                    Swal.fire({
                        title: 'Error',
                        text: "@PageText.GetHtml("Forgetpassword_popup_failed", "en")",
                        icon: 'error'
                    });
                }
            });
        }
    </script>

}